body{
    padding-top: 10px;
    margin: 0;
    /* height: 100vh; */
}

.login-container{
    margin: 0 auto;
    padding-top: 30%;
}

.form-container{
    width: 100%;
    max-width: 1180px;
    min-width: 780px;
    padding-top: 15px;
    margin: 0 auto;
    background-color: #fff;
}

.form-error{
    padding-left: 20px;
}

.menu-bar{
    width: 100%;
    height: 100px;
    display: inline-block;
    margin-left: 10px;
    background-color: white;
}

/* .logo-container{
    width: 100px;
    height: 100px;
    background: url('CDF-Logo.jpg');
    background-repeat: no-repeat;
    background-size: 90px 90px;
} */

.title-container{
    margin-top: 0px;
    padding-bottom: 10px;
}

.form-steps-large{
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 1000;
    margin: 0 auto;
    width: 100%;
}

.steps-container{
    margin: 0 auto;
    width: 100%;
}

.form-body{
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    background-color: white;
}

.form-body> .MuiContainer-root{
    max-width: 680px;
}

.credentials-container{
    min-width: 250px;
    max-width: 400px;
    margin: 0 auto;
}

.MuiBox-root{
    width: 100%;
}

.MuiFormControl-root{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}