.weather-info-container{
    width: 100%;
    min-width: 780px;
    margin-top: 35px;
    display: grid;
    grid-template-columns: calc(100% - 600px) 10px 600px;
    grid-template-rows: 400px auto;
    grid-template-areas: "farm-data . map-container"
                        "weather-data weather-data weather-data";
    
}

.farm-data{
    grid-area: farm-data;
}

.weather-data{
    grid-area: weather-data;
}

.map-container{
    /* margin-top: -10px; */
    margin-bottom: 20px;
    min-height: 250px;
    min-width: 250px;
    width: 600px;
    height: 550px;
    grid-area: map-container;
}

.market-info-container{
    padding-top: 10px;
}

.logout-button{
    position: absolute;
    top: 25px;
    left: 85%;
}